<% @tweets.each do | tweet | %>
    <div class="card mb-3 border-0">
        <div class="row g-0">
            <div class="col-md-2">
                <img style="max-width:105px;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh2luCjtXnp2tzGjmlQyveWqphByb_Vi08ngH6JTdjcGY0ePuCb6MqE1ac5zV-0dPvb5g&usqp=CAU"
                    class="rounded img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-10">
                <div class="card-body">
 <div class="row">
    <div class="col-10">    
    <h5><%= tweet.user.name%></h5>                
</div>
    <div class="col-2">  
    <div class="dropdown">



                                <% if user_signed_in? %>

    <%= link_to("javascript:;", class: "dropdown-toggle btn btnr float-end", style: "color:#cdcdcd;", id: "dropdownMenuLink", data: { 'bs-toggle': "dropdown" }, aria: { expanded: "false"} ) do %>
        <i class="fa-solid fa-lg fa-ellipsis-vertical"></i>
        <% end %> 
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  <% if current_user.id != tweet.user_id %>
    <li><a class="dropdown-item" href="#">Unfollow author</a></li>
    <% end %>
    <li>
                                    <% if current_user.id == tweet.user_id %>
                                
                                            <%= link_to tweet, method: :delete, data: {turbo_method: :delete,
                                                turbo_confirm: 'Are you sure?' }, class: "dropdown-item"  do %>
                                                Delete
                                                <% end %>
                                    <% end %>

                                        </li>
  </ul>
                                <% end %>

</div>
           
</div>
  </div>
                 <%= link_to "@" + tweet.user.username , show_user_profile_path("@" << tweet.user.username) , class: "h8 card-title text-decoration-none text-secondary"%>
        
                        <p class="card-text">
                            <%= tweet.tweet.gsub(/(#)\S+/, '<a href="hashtag/\0">\0</a>').gsub(/(@)\S+/, '<a href="profile/\0">\0</a>').html_safe %>
                        </p>
                                                    

<div class="row">
    <div class="col-2">


    </div>
    <div class="col-10">

    </div>
  </div>



                </div>
            </div>
        </div>
         <div class="row">
    <div class="col-4 text-center">
        <%= link_to tweet_path(tweet), class: "p-2", style: "color:#858585" do %>
          <i class="fa fa-xl fa-solid fa-link"></i>
        <% end %>
    </div>
    <div class="col-4 text-center">
     <%= link_to tweet_path(tweet), class: "p-2", style: "color:#858585" do %>
       <i class="fa-solid fa-xl fa-repeat"></i>
    <% end %>
    </div>
    <div class="col-4 text-center">
 <% if user_signed_in? %>
                                    <%= link_to tweet_path(tweet), like: tweet.like.find_by(user_id: current_user.id).nil? ? -1 : tweet.like.find_by(user_id: current_user.id).id, tweet: tweet.id, user: current_user.id, class: "like_tweet p-2  #{'text-danger' if current_user.like.find_by(tweet_id: tweet.id) }", style: "color:#858585" do %>
                                        <i class="fa-solid fa-xl fa-heart"></i>
                                    <% end %>
                                <% else %>
                                    <%= link_to tweet_path(tweet), tweet: tweet.id, user: "-1", class: "like_tweet p-2", style: "color:#858585" do %>
                                        <i class="fa-solid fa-xl fa-heart"></i>
                                    <% end %>
                                <% end %>
    </div>
  </div>

    </div>
            <p class="border-top border-bottom pt-2 pb-2"><b class="retweets">0</b> Retweets, <b class="hearts"><%=tweet.like.count%></b> Likes
            <small class="text-muted float-end">
                                <%= link_to tweet_path(tweet), class: "p-1 text-decoration-none", style: "color:#858585;font-size: 11px;" do %>
                                    <%= time_ago_in_words(tweet.updated_at).to_s + " ago" %>
                                        <% end %>
                            </small>
            
            </p>
    

    <% end %>