<% @tweets.each do | tweet | %>
    <div class="card mb-3 border-0">
        <div class="row g-0">
            <div class="col-md-2">
                <img style="max-width:105px;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh2luCjtXnp2tzGjmlQyveWqphByb_Vi08ngH6JTdjcGY0ePuCb6MqE1ac5zV-0dPvb5g&usqp=CAU"
                    class="rounded img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-10">
                <div class="card-body">
 <div class="row">
    <div class="col-10">    
    <h5><%= tweet.user.name%></h5>                
</div>
    <div class="col-2">  
        <%= link_to("#", class: "float-end", style: "color:#cdcdcd;" ) do %>
        <i class="fa-solid fa-sm fa-ellipsis-vertical"></i>
        <% end %>                
</div>
  </div>
                 <%= link_to "@" + tweet.user.username , "#" , class: "h8 card-title text-decoration-none text-secondary"%>
        
                        <p class="card-text">
                            <%= tweet.tweet.gsub(/(#)\S+/, '<a href="hashtag/\0">\0</a>').gsub(/(@)\S+/, '<a href="profile/\0">\0</a>').html_safe %>
                        </p>
                                                    

<div class="row">
    <div class="col-2">

                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <%= link_to tweet_path(tweet), class: "p-1" do %>
                                <i class="fa fa-sm fa-solid fa-link"></i>
                                <% end %>

                                <% if user_signed_in? %>
                                    <% if current_user.id == tweet.user_id %>
                                
                                            <%= link_to tweet, method: :delete, data: {turbo_method: :delete,
                                                turbo_confirm: 'Are you sure?' }, class: "p-1" do %>
                                                <i class="fa-solid fa-sm fa-trash-can"></i>
                                                <% end %>
                                    <% end %>
                                <% end %>

                        </div>
    </div>
    <div class="col-10">
<small class="text-muted float-end">
                                <%= link_to tweet_path(tweet), class: "p-1 text-decoration-none", style: "color:#858585;font-size: 11px;" do %>
                                    <%= time_ago_in_words(tweet.updated_at).to_s + " ago" %>
                                        <% end %>
                            </small>
    </div>
  </div>



                </div>
            </div>
        </div>
    </div>
    <hr>
    <% end %>