<h1>Retweet</h1>

<div class="row">

<%= render "tweets/tweet", tweet: @tweet %>

<div class="card mb-5">
 <div class="card-header">
 <%= simple_form_for(Tweet.new) do |f|%>
  <%= f.error_notification %>
  <div class="col-auto mb-3">
    <%= f.input :tweet, input_html: { class: "textarea form-control", rows: 4}, wrapper: false, label_html: { class: "label"}, placeholder: "Tweet text"%>
    <%= f.hidden_field :retweet_tweet_id, hidden: true, wrapper: false, value: @tweet.id %>
  </div>

  <div class="col-auto mb-3 float-end">
  <i class="fa-solid fa-2xl fa-image"></i>
    <%= f.button :submit, class: "btn text-white", style: "background-color:CornflowerBlue;" %>
  </div>
<% end %>
 </div>

</div>



<br>

<div>
  <%= link_to "Back to tweets", tweets_path %>
</div>
