<section class="vh-50 bg-image" >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
<h2 class="text-uppercase text-center mb-5">Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
  <div class="form-outline mb-4">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
   </div>
   <div class="form-outline mb-4">
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    </div>
    <div class="form-outline mb-4">
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>
  </div>
<div class="form-outline mb-4">
  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "btn btn-primary btn-md"%>
  </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
