<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <style>
    .dropdown-toggle::after {
      display: none;
    }
   .rbtn {
   display:block;
   height: 300px;
   width: 300px;
   border-radius: 50%;
   border: 1px solid red;
   
   }
   .retweet-color
   {
      color:LimeGreen!important;
   }

   .retweet_border
   {
    border: 1px solid #d6d6d7;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 10px;
    background-color:#fbfafa;
   }
   .mn-navbar
   {
          position: fixed;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, 0);
    
   }
   .digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: CornflowerBlue;
    color: white;

}
  .digg_pagination a {
    text-decoration: none;
    color: CornflowerBlue;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; 
}
.notification-dot
{
  position: absolute;
    top: 8px;
    left: 12px;
    font-size: 15px;
    background-color: #f57272;
    border-radius: 19px;
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
}
    </style>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "rails" %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script>
     $(document).ready(function(){
        $('.dropdown-toggle').dropdown();
    });
</script>
  </head>

  <body>



<div class="container mn-navbar shadow rounded-bottom" style="background-color:CornflowerBlue;"> 
   <nav class="navbar navbar-dark navbar-expand-lg">
         <div class="col-2">
            <%= link_to root_path, class: "navbar-brand" do %>
            <h1 class="title float-start">Tweet</h1>
            <img onClick="javascript:window.open('https://donate.redcross.org.uk/appeal/ukraine-crisis-appeal', '_blank');" width=25 alt="Ukraine-coloured heart float-start" class="c-icon ms-3 mt-3" src="https://d24y9kuxp2d7l2.cloudfront.net/assets/icons/ukraine-ddee71b9968c24f6ffad2d0967fe8f39d2d00dd8.svg">  
            <% end %>
         </div>
         <div class="col-7">
            <div class="input-group">
               <input type="text" class="form-control" placeholder="Search twitter" aria-label="Search twitter" aria-describedby="button-addon2">
               <button class="btn btn-secondary" type="button" id="button-addon2">Search</button>
            </div>
         </div>

         <div class="col-3">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse float-end" id="navbarText">
               <span class="navbar-text">
               <% if user_signed_in? %>
              <div class="dropdown float-start p-2">
                <a class="dropdown-toggle" type="button" style="position:relative;" aria-expanded="true" data-bs-toggle = "dropdown">
                  <i class="fa-solid fa-lg fa-bell"></i>
                  <% if current_user.notification.count > 0 %>
                    <div class="notification-dot"><%=current_user.notification.count.to_s[0,1] %></div>
                  <% end %>
                </a>
                
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <% if current_user.notification.count > 0 %>

                  <% current_user.notification.each do | n | %>
                    <% if n.notification_type == 1 %>
                      <li>
                      <%=link_to "#{n.sender.username} Tweeted \"#{Tweet.find_by(id: n.tweet_id).tweet[0,10]}\"", tweet_path(n.tweet_id), class: "text-dark dropdown-item" %>
                      </li>
                    <% elsif %>
                    1
                    <% end %>
                  
                  <% end %>


                <% else %>
                  <li class="text-dark dropdown-item">No new notifications</li>
                <% end %>
                </ul>
               
              </div>

               <%= link_to "Hi, " + current_user.username, edit_user_registration_path, class: "btn btn-link text-white text-decoration-none"%>
<!--
               <%= link_to "Log Out", destroy_user_session_path,  method: :delete, data: {turbo_method: :delete,
                  turbo_confirm: 'Are you sure?' },  class: "btn btn-link text-white text-decoration-none"%>
-->
                  <%= link_to "Log Out", destroy_user_session_path,'data-turbo-method': :delete , class:"btn btn-link text-white text-decoration-none" %>
               <% else %>
               <%= link_to "Sign In", new_user_session_path, class: "btn btn-link text-white text-decoration-none" %>
               <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-link text-white text-decoration-none" %>
               <% end %>
               </span>
            </div>
         </div>
      </nav>
      </div>
    <div class="container" style="padding-top: 105px;">
      <% if flash[:notice]%>
  <div class="alert alert-success" role="alert" style="margin-bottom:0!important;text-align:center;">
       <%= notice %>
  </div>
  <br> 
  <% end %>
  <% if flash[:alert]%>
  <div class="alert alert-danger" role="alert" style="margin-bottom:0!important;text-align:center;">
      <%= alert %>
  </div>
 <br> 
  <% end %>
  
        <%= yield %>
    </div>

  </body>
</html>
